@import '~bootstrap/scss/bootstrap.scss';
// @import './base/all.scss';
@import './utils/variables.scss';

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

main
{
  min-height: calc(100vh - 170px);
}

body
{
  @include useScrollbar();
}

.page-transition {

  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 200ms;
    }
  } 
}

.maintenance{
  &__container
  {
    @include flex(column, center, center);
    @include fixedWidth(100vw);
    @include fixedHeight(100vh);
    padding: 2em 2em 10em 2em !important;
 
    &--images
    {
      text-align: center;

      &-img
      {
        margin: 3em auto 0 auto !important;
      }
    }
  }

  &__title
  {
    @include typographyBuilder(600, 24, 36);
  }

  &__info
  {
    @include typographyBuilder(400, 16);
    max-width: 70% !important;
  }
}