$color_black            : #000000;
$color_black_text       : #333333;
$color_black_dark       : #151314;
$color_blue             : #276EF1;
$color_green            : #05944F;
$color_grey             : #666666;
$color_grey_dark        : #BCBCBC;
$color_grey_light       : #A2A2A2;
$color_grey_light_text  : #6A6A6A;
$color_light            : #EEEEEE;
$color_light_dark       : #F2F2F2;
$color_light_low        : #FAFAFA;
$color_light_low_extra  : #F9F9FC;
$color_light_border     : #D0D0D0;
$color_purple           : #9857CB;
$color_red              : #E11900;
$color_red_light        : #F62525;
$color_white            : #FFFFFF;
$color_yellow           : #FDB941;
$color_shade_grey       : #bdbdbd;
$color_grey_light_border: #BCBCBC;
