@mixin useContainer() 
{
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width:$breakpoint_min_md) 
  {
    max-width: 1070px;
    padding: 0 18px;
  }

  @media screen and (max-width:$breakpoint_max_lg) 
  {
    max-width: 960px;
  }

  @media screen and (max-width:$breakpoint_max_md) 
  {
    max-width: calc(100% - 36px);
  } 
}