@mixin useScrollbar
{
  &::-webkit-scrollbar 
    {
      width: 7px;
      height: 7px;
    }
    
    &::-webkit-scrollbar-corner
    {
      width: 7px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track
    {
      border-radius: 4px;
      background: $color_light_dark;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb 
    {
      background: $color_grey_light; 
      border-radius: 4px;
      cursor: pointer; 
    
      &:hover 
      {
        background: $color_grey;
      }
    }

     // * for mozilla
    &::-moz-scrollbar
    {
      width: 6px;
      height: 6px;
    }

    &::-moz-scrollbar-corner
    {
      width: 6px;
    }

    /* Track */
    &::-moz-scrollbar-track 
    {
      background: $color_light_dark;
    }
    
    /* Handle */
    &::-moz-scrollbar-thumb 
    {
      background: $color_grey_light; 
      border-radius: 4px;
      cursor: pointer; 
    }

    /* Handle on hover */
    &::-moz-scrollbar-thumb:hover
    {
      background: $color_grey; 
    }
}