@import '../utils/variables';

.article
{
  &_container
  {
    @include useContainer();
    @include flex(row, flex-start, space-between,true);
  }

  &_content
  {
    width: calc((100% / 12) * 9);
    min-height: 100px;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
    }
  }

  &_categories
  {
    width: calc((100%/ 12) * 3);
    padding-left: 24px;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
      padding: 0;
      margin-top: 48px;
    }
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
  }

  &_contentBody
  {
    & > h1, h2, h3, h4, h5, h6, strong
    {
      @include typographyBuilder(600, 16, 24);
      color: $color_black_text;
    }

    & > p
    {
      @include typographyBuilder(400, 16, 24);
      color: $color_black_text;
      margin: 0;
    }
  }

  &_categoriesTitle
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 16px;
    display: block;
  }

  &_categoriesOrder
  {
    list-style-type: none;
    padding: 0;
  }

  &_categoriesOrderList
  {
    @include typographyBuilder(400, 16, 24);
    margin: 8px 0;

    & > a 
    {
      color: $color_black_text;
      text-decoration: 0;
    }
  }
}
