@import '../utils/variables';
@import "../components/Button.module.scss";

.login
{
  &_wrapper
  {
    @include useContainer();
    margin-bottom: 64px;
    padding: 10px 18px !important;
  }

  &_container
  {
    @include flex(column, flex-start, flex-start);
    max-width: 519px;
    margin: auto;

    & > *
    {
      width: 100%;
    }

    & > div
    {
      &[class*="loginregister_ssoContainer"]
      {
        order: 5;  
        margin-top: 24px;
      }

      &[class*="loginregister_inputFormContainer"]
      {
        order: 2; 
      }

      &[class*="loginregister_footer"]
      {
        order: 3; 
      }
    }
    
  }

  &_formContainer
  {
    order: 2;
    margin-top: 24px;
  }

  &_footer
  {
    order: 3;
    color: $color_white;
    position: relative;
    height: 54px;
    margin: 12px 0;

    & > a
    {
      @extend .btn_secondaryLong;
      position: absolute;
      top: 0;
      background-color: $color_white;
      text-decoration: none;
    }
  }

  &_forgotPassword
  {
    order: 4;
    color: $color_white;
    font-size: 0;
    position: relative;
    height: 54px;

    & > span 
    {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;

      & > a
      {
        @extend .btn_textLong;
        background-color: $color_white;
        text-decoration: none;
      }
    }
  }

  &_disclaimer
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    margin: 24px 0 0;
    text-align: center;

    & > a
    {
      color: $color_blue;
      text-decoration: none;
    }
  }

  &_otherLoginContainer
  {
    order: 5;
  }

  &_hideIcon,
  &_viewIcon
  {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }

  &_hideIcon
  {
    @include fixedSize(16px);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5ZM8 2C6.4087 2 4.88258 2.63214 3.75736 3.75736C2.63214 4.88258 2 6.4087 2 8C2 9.5913 2.63214 11.1174 3.75736 12.2426C4.88258 13.3679 6.4087 14 8 14C9.5913 14 11.1174 13.3679 12.2426 12.2426C13.3679 11.1174 14 9.5913 14 8C14 6.4087 13.3679 4.88258 12.2426 3.75736C11.1174 2.63214 9.5913 2 8 2ZM8 4.25C8.78944 4.2503 9.55865 4.49973 10.198 4.96275C10.8374 5.42578 11.3144 6.07878 11.561 6.82872C11.8075 7.57867 11.8112 8.3873 11.5713 9.13942C11.3314 9.89153 10.8603 10.5488 10.2251 11.0175C9.58984 11.4862 8.82289 11.7425 8.03349 11.7498C7.24408 11.7572 6.47249 11.5152 5.82864 11.0584C5.18479 10.6016 4.70153 9.95325 4.4477 9.20573C4.19388 8.45821 4.18243 7.64965 4.415 6.89525C4.59044 7.28728 4.89521 7.60717 5.27829 7.80137C5.66138 7.99557 6.09954 8.05231 6.51946 7.96209C6.93938 7.87187 7.31557 7.64017 7.58508 7.30575C7.85459 6.97133 8.00107 6.5545 8 6.125C8.0001 5.76385 7.8959 5.41036 7.69992 5.10701C7.50394 4.80366 7.22452 4.56336 6.89525 4.415C7.24475 4.30775 7.61525 4.25 8 4.25Z' fill='%23333333'/%3E%3C/svg%3E"); 
  }

  &_viewIcon
  {
    @include fixedSize(17px);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00658 10.0865L5.55833 9.69802L6.14858 7.49377C5.26506 7.16792 4.44392 6.69304 3.72083 6.08977L2.10608 7.70527L1.04483 6.64402L2.66033 5.02927C1.74839 3.93709 1.13565 2.62684 0.88208 1.22677L2.35808 0.95752C2.92733 4.10902 5.68433 6.50002 9.00008 6.50002C12.3151 6.50002 15.0728 4.10902 15.6421 0.95752L17.1181 1.22602C16.8649 2.62628 16.2524 3.9368 15.3406 5.02927L16.9553 6.64402L15.8941 7.70527L14.2793 6.08977C13.5562 6.69304 12.7351 7.16792 11.8516 7.49377L12.4418 9.69877L10.9936 10.0865L10.4026 7.88152C9.47434 8.04058 8.52582 8.04058 7.59758 7.88152L7.00658 10.0865Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  }

  &_or
  {
    @include flex(row, center, space-between);
    @include typographyBuilder(400, 12, 16);
    color: $color_grey_light;
    
    &::after,
    &::before
    {
      content: "";
      display: block;
      width: 30%;
      height: 1px;
      background-color: $color_light;
    }
  }
}
