@import '../utils/variables';
@import '../components/Button.module.scss';
@import '../components/Form.module.scss';

.orderReview 
{
  &_wrapper
  {
    @include useContainer();
      margin-bottom: 64px;
  }

  &_container
  {
    max-width: 519px;
    padding-bottom: 42px;
    margin: auto;
  }

  &_titleContainer
  {
    margin-bottom: 34px;
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 0; 
  }

  &_subtitle
  {
    display: none;
  }

  &_orderInfoContainer
  {
    display: block;
    width: 100%;
    background: $color_light_dark;
    padding: 16px;
    margin: 0 0 24px;
  }

  &_orderInfoLine
  {
    @include flex(row, center, flex-start);

    p
    {
      margin: 0;

      &:nth-child(2)
      {
        margin: 0 4px;
      }
    }

    &:nth-child(1)
    {
      @include typographyBuilder(600, 12, 16);
      color: $color_black_text;
      margin-bottom: 4px; 
    }

    &:nth-child(2)
    {
      @include typographyBuilder(400, 12, 16);

      & > p
      {
        &:not(:nth-child(3))
        {
          display: none;
        }
      }
    }
  }

  &_buyerInfoContainer
  {
    display: block;
    margin: 0 0 26px;
  }

  &_buyerNameLabel
  {
    @include typographyBuilder(600, 12, 16);
    color: $color_grey;
    margin-bottom: 8px; 
  }
  
  &_buyerHideContainer
  {
    @include flex(row-reverse, center, flex-end);
    margin: 20px 0;

    label
    {
      @include typographyBuilder(400, 12, 16);
      color: $color_black_text;
      margin: 0 0 0 12px;
    }
  }

  &_reviewTabContainer
  {
    @include flex(row, center, flex-start);
    border-top: 1px solid $color_light;
    padding: 24px 0;

    & > div
    {
      flex: 1;
    }
  }

  &_needsReviewTabContainer,
  &_reviewedTabContainer
  {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color_light;
    cursor: pointer;
  }

  &_activeTab
  {
    border-bottom: 2px solid $color_black_text;

    & > p
    {
      @include typographyBuilder(600, 12, 16);
    }
  }

  &_needsReviewTabLabel,
  &_reviewedTabLabel
  { 
    @include typographyBuilder(400, 12, 16);
    color: $color_black_text;
    margin: 0;
  }

  &_productInfoContainer
  {
    @include flex(row, flex-start, flex-start);
    border: 1px solid $color_light;
    margin-bottom: 15px;
    padding: 16px;
  }

  &_productImage
  {
    @include fixedSize(60px);
    object-fit: cover;
    flex: 1;
    margin-right: 12px;
  }

  &_productDetailContainer
  {
    flex: auto;
  }

  &_productDetailName
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_black_text;
    margin: 0 0 2px;
  }

  &_yourRatingText
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    margin: 0;
  }

  &_itemPerPage
  {
    text-align: right;
    margin: 20px 0;
  }

  &_productReviewButtonContainer
  {
    align-self: center;
  }

  &_itemPerPageOptions
  {
    select
    {
      padding: 12px 16px;
      border: 1px solid $color_light;
      border-radius: 2px;
      width: max-content;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      user-select: none;
      -webkit-appearance: none;
      -moz-appearance: radio-container;
      appearance: none;
      padding-right: 35px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right 10px top 50%;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99999 5.17198L11.95 0.221985L13.364 1.63598L6.99999 7.99998L0.635986 1.63598L2.04999 0.221985L6.99999 5.17198Z' fill='%23333333'/%3E%3C/svg%3E");
    }
  }

  &_formContainer
  {
    margin: -16px 0 22px;
    border: 1px solid $color_light;
    border-top: 0;
    background-color: $color_white;
    padding: 16px;

    & > button
    {
      @extend .btn_primaryLong;
      margin-top: 22px;
    }
  }

  &_formGroup
  {
    margin-bottom: 22px;

    label
    {
      display: block;
    }

    textarea
    {
      @extend .form_inputLong;

      & ~ label
      {
        @include typographyBuilder(400, 12, 14);
        color: $color_grey_light;
        margin: 8px 0 0;
        text-align: right;
      }
    }
  }

  &_formLabel
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    display: block;
    margin: 0 0 8px;
  }

  &_starContainer
  {
    @include flex(row, center, center);
    width: 100%;

    & ~ label
    {
      display: none;
    }
  }

  &_star
  {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 30px;
    margin: 2.5px;

    &:first-child
    {
      margin-left: 0;
    }

    &:last-child
    {
      margin-right: 0;
    }

    span
    {
      color: $color_grey_light;
    }
  }

  &_mediaImages
  {
    @include flex(row, center, flex-start);
  }

  &_mediaThumbnail
  {
    position: relative;
    margin: 5px;

    &:first-child
    {
      margin-left: 0;
    }
  }

  &_mediaImage
  {
    @include fixedSize(70px);
    object-fit: cover;
    border: 1px solid $color_grey_dark;
    border-radius: 3px;
  }

  &_mediaRemove
  {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    cursor: pointer;
    background: rgba($color_white, 0.5);
    padding: 2.5px 5px;
    font-size: 10px;
  }


  &_mediaUpload
  {
    @include fixedSize(70px);
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: $color_white;
    border: solid 1px #E8E8E8;
    border-radius: 3px;

    cursor: pointer;
    font-size: 0;
    color: rgba($color_black, 0);

    & > input[type="file"] {
      opacity: 0;
    }
  }

  &_uploadIcon
  {
    @include flex(row, center, center);
    @include fixedSize(48px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
    pointer-events: none;
    border: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5 19.314C5.916 19.314 2.186 15.584 2.186 11C2.186 6.416 5.916 2.686 10.5 2.686C15.084 2.686 18.814 6.416 18.814 11C18.814 15.584 15.084 19.314 10.5 19.314ZM10.5 0.5C16.29 0.5 21 5.21 21 11C21 16.79 16.29 21.5 10.5 21.5C4.71 21.5 0 16.79 0 11C0 5.21 4.71 0.5 10.5 0.5ZM10.752 6.505H10.442C10.2586 6.50606 10.0831 6.57964 9.95385 6.70968C9.82456 6.83971 9.752 7.01563 9.752 7.199L9.755 10.259C9.755 10.2837 9.75014 10.3081 9.74069 10.3309C9.73124 10.3538 9.71739 10.3745 9.69994 10.3919C9.68248 10.4094 9.66175 10.4232 9.63894 10.4327C9.61614 10.4421 9.59169 10.447 9.567 10.447L6.505 10.451C6.32181 10.4521 6.14646 10.5255 6.0172 10.6553C5.88795 10.7851 5.81526 10.9608 5.815 11.144V11.45C5.815 11.831 6.126 12.142 6.507 12.142L9.569 12.138C9.672 12.138 9.757 12.222 9.757 12.326L9.759 15.186C9.759 15.566 10.071 15.877 10.453 15.877H10.758C11.139 15.877 11.45 15.566 11.45 15.184L11.446 12.324C11.446 12.221 11.53 12.136 11.634 12.136L14.494 12.133C14.585 12.1337 14.6753 12.1162 14.7595 12.0817C14.8437 12.0471 14.9201 11.9961 14.9845 11.9317C15.0488 11.8673 15.0996 11.7908 15.134 11.7065C15.1685 11.6223 15.1858 11.532 15.185 11.441V11.135C15.185 10.9514 15.1121 10.7753 14.9824 10.6453C14.8526 10.5154 14.6766 10.4423 14.493 10.442L11.633 10.446C11.6083 10.446 11.5839 10.4411 11.5611 10.4317C11.5382 10.4222 11.5175 10.4084 11.5001 10.3909C11.4826 10.3735 11.4688 10.3528 11.4593 10.3299C11.4499 10.3071 11.445 10.2827 11.445 10.258L11.441 7.198C11.4415 7.10677 11.4238 7.01636 11.389 6.93205C11.3541 6.84774 11.3028 6.77123 11.238 6.707C11.1744 6.64277 11.0987 6.59183 11.0153 6.55715C10.9319 6.52247 10.8424 6.50474 10.752 6.505Z' fill='%23E8E8E8'/%3E%3C/svg%3E%0A");
  }

  &_media
  {
    @include flex(row, center, flex-start, true);
    padding: 10px 0;
  }

  &_popupConfirmationSubmitContainer,
  &_reviewPopupContainer
  {
    @include flex(row, center, center);
    @include fixedSize(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba($color_black, 0.8);
  }

  &_popupConfirmationSubmitContent,
  &_reviewPopupContent
  {
    min-width: 340px;
    background-color: $color_white;
    padding: 24px 16px;
    border-radius: 3px;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include fixedWidth(calc(100% - 17px));
      -webkit-overflow-scrolling: auto;
    }
  }

  &_popupConfirmationSubmitTitle
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 22px;
    text-align: center;
    max-width: 308px;
  }

  &_popupConfirmationSubmitDescription
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_black_text;
    margin-bottom: 6px;
    text-align: center;
    padding: 10px;
    background-color: $color_light_low;
    max-width: 308px;
    border-radius: 2px;
    margin-bottom: 24px;
  }

  &_popupConfirmationSubmitWrapButton
  {
    @include flex(column-reverse, flex-start, flex-start);

    & > button
    {
      &:not(:last-child)
      {
        margin-top: 12px;
      }
    }
  }

  &_openReviewButton
  {
    border: 0;
    padding: 0;
    border-radius: 2px;
  }
  
  &_arrowIconDown,
  &_arrowIconUp
  {
    @include fixedSize(36px);
    background-color: $color_black_text;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
  }

  &_arrowIconUp
  {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99999 2.82795L11.95 7.77795L13.364 6.36395L6.99999 -4.57764e-05L0.635986 6.36395L2.04999 7.77795L6.99999 2.82795Z' fill='white'/%3E%3C/svg%3E");
  }

  &_arrowIconDown
  {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99999 5.17205L11.95 0.222046L13.364 1.63605L6.99999 8.00005L0.635986 1.63605L2.04999 0.222046L6.99999 5.17205Z' fill='white'/%3E%3C/svg%3E");
  }

  &_reviewCardContainer
  {
    margin: -16px 0 22px;
    border: 1px solid $color_light;
    border-top: 0;
    background-color: $color_white;
    padding: 16px;
  }

  &_tileRating,
  &_titleDescription,
  &_titleImage
  {
    @include typographyBuilder(600, 12, 16);
    color: $color_grey;
    display: block;
    margin: 0 0 8px;
  }

  &_ratingContent
  {
    @include flex(row, center, center);
    width: 100%;

    & > div
    {
      @include flex(row, center, center);
      background: transparent;
      border: none;
      padding: 0;
      font-size: 30px;
      margin: 2.5px;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

      span
      {
        color: $color_grey_light;
      }
    }
  }

  &_ratingDescription
  {
    @include typographyBuilder(400, 12, 16);
    display: block;
    width: 100%;
    text-align: center;
    color: $color_black_text;
    margin: 0 0 22px;
  }

  &_descriptionContent
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_grey;
    display: block;
    margin: 0 0 22px;
  }

  &_imageContent
  {
    @include flex(row, center, flex-start, true);
  }

  &_imageList
  {
    & > img
    {
      @include fixedSize(72px);
      object-fit: cover;
      cursor: pointer;
    }

    &:not(:last-child)
    {
      margin-right: 12px;
      margin-bottom: 16px;
    }
  }

  &_reviewPopupButtonClose
  {
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L5 15' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 5L15 15' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  &_reviewPopupImagePopup
  {
    position: relative;
    margin-bottom: 24px;

    & > img
    {
      width: 100%;
    }
  }

  &_reviewPopupLeftButton,
  &_reviewPopupRightButton
  {
    @include fixedSize(20px);
    font-size: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-color: $color_white;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &_reviewPopupLeftButton
  {
    left: 24px;
    transform: rotate(180deg);
    background-image: url("data:image/svg+xml,%0A%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78132 5.00024L0.481323 1.70024L1.42399 0.757568L5.66666 5.00024L1.42399 9.2429L0.481323 8.30024L3.78132 5.00024Z' fill='%23333333'/%3E%3C/svg%3E");
  }

  &_reviewPopupRightButton
  {
    right: 24px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78132 5.00024L0.481323 1.70024L1.42399 0.757568L5.66666 5.00024L1.42399 9.2429L0.481323 8.30024L3.78132 5.00024Z' fill='%23333333'/%3E%3C/svg%3E");
  }

  &_reviewPopupPreview
  {
    @include flex(row, center, flex-start);
    @include useScrollbar();
    width: 100%;
    overflow-x: auto;
    padding: 0 0 12px;
  }

  &_reviewPopupImagePreview
  {
    &:not(:last-child)
    {
      margin-right: 12px;
    }

    & > img
    {
      @include fixedSize(100px);
      object-fit: cover;
      cursor: pointer;
    }
  }
}