@import '../utils/variables';

.shippingmethod
{
  &_shippingRadioDiv
  {
    @include flex(row, center, flex-start, true);
    border: 1px solid $color_light;
    padding: 14px 16px;
    cursor: pointer;
    position: relative;

    &:not(:last-child)
    {
      margin-bottom: 12px;
    }

    &[class*="disabled"]
    {
      opacity: .5;
      pointer-events: none;
    }
  }

  &_moreShipping
  {
    @include typographyBuilder(400, 14, 16);
    cursor: pointer;
    color: $color_grey_light_text;
    margin-top: 20px
  }

  &_warningPinPointText
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_red;
    margin: 0;
  }

  &_warningPinPoint
  {
    order: 3;
    margin-left: auto;

    &~div[class*="shippingmethod_shippingPriceDiv"]
    {
      display: none;
    }
  }

  &_shippingPriceDiv
  {
    order: 3;
    @include flex(column, flex-end);
    margin-left: auto;

    & > p[class*="_shippingPrice"]:not(:only-child)
    {
      text-decoration: line-through;
      color: $color_grey;
    }
  }

  &_shippingNameDiv
  {
    margin-left: 4px;
    order: 2;
    max-width: 80%;

    @media screen and (max-width: 575px)
    {
      max-width: 44%;
      white-space: break-spaces;
    }
  }

  &_shippingName
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_black_text;
    margin: 0;
    white-space: break-spaces;

    @media screen and (max-width: 575px)
    {
      font-size: 14px;
    }
  }

  &_shippingPriceDivDiscounted
  {
    @include flex(row);
  }

  &_shippingDiscountPercentage
  {
    @include typographyBuilder(600, 10, 16);
    background: $color_red;
    color: $color_white;
    padding: 3px;
    border-radius: 3px;
    margin-right: 8px;
    max-height: 22px;
  }

  &_shippingDiscountedPrice
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_red;
    margin: 0;
  }

  &_shippingPrice
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_black_text;
    margin: 0;
  }

  &_divInput
  {
    @include flex(row, center, flex-start);
    order: 1;
  }

  &_inputClass
  {
    appearance: none;
    width: 16px;
    height: 16px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid $color_black_text;
    background-color: $color_white;
    border-radius: 50%;

    &:checked
    {
      background-color: $color_black_text;
      padding: 2px;
    }
  }

  &_pinPointLocation
  {
    margin-top: 10px;
    order: 3;
  }

  &_shippingErrorMsg
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_red;
    margin: 0;
  }
}