@import '../utils/variables';

.track 
{
  &_wrapper
  {
    @include useContainer();
      margin-bottom: 64px;
  }

  &_container
  {
    max-width: 519px;
    padding-bottom: 42px;
    margin: auto;

    & > div
    {
      border: 1px solid $color_light;
    }
  }
  
  &_title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 34px;
  }

  &_shipmentHeaderText
  {
    display: none;
  }
}
