@import '../utils/variables';

.checkout
{
  &_headerContainer
  {
    @include flex(column, center, center);
    padding: 20px;
  }

  &_headerLogo
  {
    @include fixedHeight(24px);
  }

  &_stepsContainer
  {
    @include flex(column, center, center);
    padding: 18px;
    background: $color_light;
  }

  &_steps
  {
    @include flex(row, center, center);
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: my-awesome-counter;
  }

  &_stepsItem
  {
    @include flex(row, center, center);
    @include typographyBuilder(400, 16, 24);
    color: $color_grey_dark;
    counter-increment: my-awesome-counter;
    margin-right: 12px;

    &[class*="active"]
    {
      color: $color_black_text;

      &::before
      {
        background-color: $color_black_text;
      }

      &:not(:last-child)
      {
        &::after
        {
          background-color: $color_black_text;
        }
      }
    }
    
    &::before
    {
      @include fixedSize(20px);
      @include flex(row, center, center);
      @include typographyBuilder(400, 10, 16);
      margin-right: 12px;
      content: counter(my-awesome-counter);
      color: $color_white;
      border-radius: 50%;
      background-color: $color_grey_dark;
    }

    &:not(:last-child)
    {
      &::after
      {
        content: "";
        display: block;
        width: 42px;
        height: 2px;
        margin-left: 12px;
        background-color: $color_grey_dark;
      }
    }

    @media screen and (max-width: #{$breakpoint_max_md})
    {
      font-size: 0;

      &::before
      {
        margin: 0;
      }

      &:not(:last-child)
      {
        &::after
        {
          width: 12px;
        }
      }
    }
  }

  &_stepsTitle
  {
    display: none;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include typographyBuilder(400, 16, 24);
      color: $color_black_text;
      display: block;
      margin: 12px 0 0;
    }
  }

  &_stepsTitleNext
  {
    display: none;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include typographyBuilder(400, 12, 16);
      color: $color_grey_light;
      display: block;
      margin: 4px 0 0;
    }
  }

  &_body
  {
    @include useContainer();
    @include flex(row, flex-start, space-between, true);
    margin-top: 24px;
    margin-bottom: 64px;
    min-height: calc(100vh - 260px);

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include fixedWidth(100%);
      margin-bottom: 24px;
      margin-top: 0;
    }
  }

  &_bodyChildren
  {
    width: calc(((100% - 24px) / 12) * 8);    
    border: 1px solid $color_light;

    & > div
    {
      padding: 24px;
    }

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border: 0;
      border-bottom: 1px solid $color_light;

      & > div
      {
        padding: 24px;

      }
    }
  }

  &_bodyOrderSummaryBox
  {
    width: calc(((100% - 24px) / 12) * 4);
    height: 100%;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      width: 100%;
      max-width: calc(100% - 36px);
      padding-bottom: 24px;
      border-bottom: 1px solid $color_light;
      margin: 0 auto 130px;
    }
  }

  &_customerDetailBoxWrapper
  {
    background-color: $color_light_low;
    padding: 24px;
  }

  &_customerDetailBoxShippingContainer
  {
    @include flex(row, center, flex-start);
  }

  &_customerDetailBoxContainer
  {
    &:not(:first-child)
    {
      margin-top: 16px;
      border-top: 1px dashed $color_grey_dark;
      padding-top: 16px;
    }
  }

  &_customerDetailBoxHeader
  {
    @include flex(row, center, space-between);
    margin-bottom: 8px;
  }

  &_customerDetailBoxInfoContainer
  {
    @include flex(row, center, space-between);
    @media screen and (max-width: $breakpoint_max_md) 
    {
      display: block;

      & > div:not(:last-child)
      {
        margin-bottom: 14px;
      }
    }
  }


  &_customerDetailShippingLabel,
  &_customerDetailContactInfoLabel
  {
    @include typographyBuilder(600, 12, 16);
    @include flex(row, center, flex-start);
    color: $color_grey;
    text-transform: uppercase;
    margin: 0;
  }

  &_customerDetailBoxHeaderLabel
  {
    @include typographyBuilder(600, 12, 16);
    @include flex(row, center, flex-start);
    color: $color_grey;
    text-transform: uppercase;
    margin: 0;

    &::after
    {
      @include fixedSize(10px);
      content: "";
      display: block;
      background-repeat: no-repeat;
      margin-left: 4px;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10.0001C2.2385 10.0001 0 7.76162 0 5.00012C0 2.23862 2.2385 0.00012207 5 0.00012207C7.7615 0.00012207 10 2.23862 10 5.00012C10 7.76162 7.7615 10.0001 5 10.0001ZM4.5015 7.00012L8.0365 3.46462L7.3295 2.75762L4.5015 5.58612L3.087 4.17162L2.38 4.87862L4.5015 7.00012Z' fill='%2305944F'/%3E%3C/svg%3E");
    }
  }

  &_customerDetailBoxHeaderLink
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_blue;
  }

  &_addressValue
  {  @include typographyBuilder(400, 12, 16);
    color: $color_grey;

    &:nth-child(1)
    {
      @include typographyBuilder(400, 16, 24);
      color: $color_black_text;
      margin-bottom: 4px;
    }
  }

  &_customerDetailBoxShippingText
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_black_text;
    margin: 0;

    & > span
    {
      display: inline-block;
      margin-left: 6px;
      color: $color_grey;
    }
  }
}