@import '../utils/variables';

.empty
{
  &_container
  {
    @include flex(column, center, center);
    width: 100%;
    height: 180px;
  }

  &_icon
  {
    display: block;
    margin-bottom: 14px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 4.477 4.977 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20ZM9.5 13V15H11.5V13H9.5ZM11.5 11.355C12.3037 11.1128 12.9936 10.59 13.4442 9.88174C13.8947 9.17353 14.0759 8.32705 13.9547 7.49647C13.8336 6.66588 13.4181 5.90644 12.784 5.35646C12.1499 4.80647 11.3394 4.50254 10.5 4.5C9.69085 4.49994 8.90666 4.78015 8.28079 5.29299C7.65492 5.80583 7.22601 6.51963 7.067 7.313L9.029 7.706C9.08468 7.42743 9.21832 7.1704 9.41437 6.96482C9.61042 6.75923 9.86081 6.61354 10.1364 6.54471C10.412 6.47587 10.7015 6.48671 10.9712 6.57597C11.2409 6.66523 11.4797 6.82924 11.6598 7.04891C11.84 7.26858 11.954 7.53489 11.9887 7.81684C12.0234 8.0988 11.9773 8.3848 11.8558 8.64158C11.7343 8.89837 11.5423 9.11536 11.3023 9.26733C11.0623 9.4193 10.7841 9.49998 10.5 9.5C10.2348 9.5 9.98043 9.60536 9.79289 9.79289C9.60536 9.98043 9.5 10.2348 9.5 10.5V12H11.5V11.355Z' fill='%23A2A2A2'/%3E%3C/svg%3E%0A");
  }

  &_title
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey_light;
    margin: 0;
  }
}