@import '../utils/variables';

.forgotPassword
{
  &_wrapper
  {
    @include useContainer();
  }

  &_container
  {
    max-width: 519px;
    margin: auto
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 10px;
  }

  &_desc
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    margin-bottom: 24px;
  }

  &_button
  {
    margin-top: 24px;
  }
}