@import '../utils/variables';

.loaderpages 
{
  &_wrapper
  {
    @include flex(row, center, center);
    height: 100vh;
    width: 100vw;
  }

  &_dotItemContainer
  {
    @include flex(row, center, center);
    margin-bottom: 14px;
  }

  &_dotItem
  {
    display: block;

    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;

    &:not(:last-child)
    {
      margin-right: 14px;
    }


    &:nth-child(2) {
      animation-delay: .5s;
    }
    
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }

  &_title
  {
    @include typographyBuilder(400, 16, 24);
    color: $color_black_text;
    margin: 0;
  }
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}