@import '../utils/variables';

.passwordStrength 
{
  margin-top: -10px;

  &_bar 
  {
    @include transition();
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 3px;
    width: 0%;

    &[class*="weak"] 
    {
      width: 50%;
      background: $color_red;

      & + [class*="passwordStrength_label"] 
      {
        color: $color_red !important;
      }
    }

    &[class*="medium"] 
    {
      width: 75%;
      background: $color_yellow;

      & + [class*="passwordStrength_label"] 
      {
        color: $color_yellow;
      }
    }

    &[class*="strong"] 
    {
      width: 100%;
      background: $color_green;

      & + [class*="passwordStrength_label"] 
      {
        color: $color_green;
      }
    }
  }

  &_label 
  {
    @include typographyBuilder(400, 14, 18);
    color: $color_black_text;
    display: block;
    position: relative;
    margin: 5px 0;
    padding: 0;
  }

  &_criteria 
  {
    display: block;
    position: relative;
    margin: 0 0 15px;
    padding: 0;
    display: none;

    &[class*="show"] 
    {
      display: block;
    }

    &Item 
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      margin: 0 0 8px;
      padding: 0;

      &[class*="fulfilled"] 
      {
        svg 
        {
          filter: invert(79%) sepia(14%) saturate(2204%) hue-rotate(92deg) brightness(76%) contrast(84%);
        }
      }

      svg 
      {
        @include transition();
        display: block;
        position: relative;
        margin: 0 8px 0 0;
        padding: 0;
        width: 16px;
        height: 16px;
        filter: invert(80%) sepia(1%) saturate(0%) hue-rotate(182deg) brightness(84%) contrast(87%);
      }

      &:last-child,
      &:last-of-type 
      {
        margin-bottom: 0;
      }
    }
  }
}
