@import '../utils/variables';

.popup 
{
  &_overlay 
  {
    @include flex(row, center, center);
    @include fixedSize(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba($color_black, 0.8);
  }

  &_container {
    min-width: 340px;
    background-color: $color_white;
    padding: 24px 16px;
    border-radius: 3px;

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include fixedWidth(calc(100% - 17px));
      -webkit-overflow-scrolling: auto;
    }
  }

  &_header
  {
    @include flex(row, center, center);
  }

  &_title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin: 0;
  }

  &_close
  {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L5 15' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 5L15 15' stroke='%23333333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}