@import '../utils/variables';

.product
{

  &_placeholder
  {
    @include fixedHeight(332px);

    &:not(:last-child)
    {
      margin-right: 24px;
    }

    @media screen and (max-width: $breakpoint_max_md) 
    {
      @include fixedHeight(162px);
      margin-right: 16px;
      margin-bottom: 12px;
      
      &:nth-child(even)
      {
        margin-right: 0 !important;
      }
    }
  }

  &_container
  {
    position: relative;
    width: fit-content;
  } 

  &_imageContainer
  {
    @include fixedWidth(100%);
    overflow: hidden;
  }

  &_imageItem
  {
    @include fixedWidth(100%);
  }

  &_labelContainer
  {
    margin-top: 12px
  }

  &_title
  {
    @include typographyBuilder(400, 16, 24);
    margin-bottom: 8px;
    color: $color_black_text;
  }

  &_price
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    margin-bottom: 0;
  }

  &_priceSale
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_grey;
    text-decoration-line: line-through;
  }

  &_priceText
  {
    @include typographyBuilder(400, 12, 16);
    color: $color_red;
    margin-left: 4px;

    @media screen and (max-width: $breakpoint_max_lg) 
    {
      display: block;
      margin-left: 0;
    }
  }

  &_stickerContainer
  {
    position: absolute;
    top: 0;
    right: 0;
  }

  &_stickerItemNew,
  &_stickerItemOutOfStock,
  &_stickerItemOpenOrder,
  &_stickerItemComingSoon,
  &_stickerItemPreOrder,
  &_stickerItemSale
  {
    @include typographyBuilder(600, 10, 16);
    display: block;
    padding: 4px 8px;
    color: $color_white;
  }

  &_stickerItemNew
  {
    background-color: $color_green;
  }

  &_stickerItemOutOfStock
  {
    background-color: $color_grey_light;
  }

  &_stickerItemOpenOrder
  {
    background-color: $color_blue;
  }

  &_stickerItemComingSoon
  {
    background-color: $color_purple;
  }
  
  &_stickerItemSale
  {
    background-color: $color_red; 
  }

  &_stickerItemPreOrder
  {
    background-color: $color_purple;
  }
}

.productHighlight
{
  &_Container
  {
    &:first-child
    {
      margin-top: 42px;
    }
  }
  &_TitleContainer
  {
    @include flex(row, center, space-between);
    margin-bottom: 12px;
  }

  &_Title
  {
    @include typographyBuilder(600, 20, 24);
    color: $color_black_text;
    margin-bottom: 0;
  }

  &_SeeAll
  {
    @include typographyBuilder(600, 12, 16);
    color: $color_blue;
    text-transform: uppercase;
    cursor: pointer;
  }

  &_productSectionContainer
  {
    @include flex(row, flex-start, flex-start, true);
    margin-bottom: 42px;

    & > div[class*="product_container"]
    { 
      @include fixedWidth(calc((100% - 72px) / 4));

      &:not(:nth-child(4n))
      {
        margin-right: 24px;
      }

      @media screen and (max-width: $breakpoint_max_md) 
      {
        @include fixedWidth(calc((100% - 16px) / 2));
        margin-bottom: 16px;

        &:nth-child(odd)
        {
          margin-right: 16px;
        }

        &:nth-child(even)
        {
          margin-right: 0;
        }
      }
    }

    & > div[class*="product_placeholder"]
    {
      @include fixedWidth(calc((100% - 72px) / 4));

      @media screen and (max-width: $breakpoint_max_md) 
      {
        @include fixedWidth(calc((100% - 16px) / 2));
        margin-right: 16px;
      }
    }
  }
}

.category
{
  &_productCategory
  {
    @include flex(row, center, center, true);
    list-style: none;
    padding: 0;
    margin-bottom: 42px;
  }

  &_items
  {
    padding: 0 24px 0 0;
    
    &:last-child
    {
      padding-right: 0;
    }

    &:nth-child(5),
    &:nth-child(6)
    {
      display: none;
    }

    @media screen and (max-width: $breakpoint_min_sm) 
    {
      padding: 0 8px 16px 0;

      &:nth-child(2n)
      {
        padding: 0 0 16px 8px;

        div[class*="itemsImagesName"]
        {
          left: 20px !important;
        }
      }

      &:nth-child(n+3)
      {
        padding-bottom: 0;
      }
    }
  }

  &_itemsImage 
  {
    width: 100%;
    height: 150px;

    @media screen and (max-width: $breakpoint_min_sm) 
    {
      border: none;
      padding: 0;
      width: 100%;
    }
  }

  &_itemsImagesName 
  {
    @include typographyBuilder(600, 24, 24);
    @include absolute(16px, auto, auto, 16px);
    text-transform: capitalize;
    color: $color_white;
    text-align: left;

    @media screen and (max-width: $breakpoint_min_sm) 
    {
      @include fontSize(12);
      @include absolute(12px, auto, auto, 12px);
      border: none;
      padding: 0;
    }
  }
}