@import '../utils/variables';

.socialShare 
{
  @include flex(row, center, flex-start);

  &_item 
  {
    width: 30px;

    &:not(:last-child)
    {
      margin-right: 16px;
    }
  }

  &_icon
  {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    
    &[class*="facebook"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 11.5H10L11 7.5H7.5V5.5C7.5 4.47 7.5 3.5 9.5 3.5H11V0.14C10.674 0.0970001 9.443 0 8.143 0C5.428 0 3.5 1.657 3.5 4.7V7.5H0.5V11.5H3.5V20H7.5V11.5Z' fill='%23333333'/%3E%3C/svg%3E");
    }

    &[class*="twitter"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6618 2.65605C19.8984 2.99374 19.0888 3.21552 18.2598 3.31405C19.1336 2.79148 19.7875 1.96906 20.0998 1.00005C19.2798 1.48805 18.3808 1.83005 17.4438 2.01505C16.8144 1.34163 15.9802 0.895012 15.0708 0.744633C14.1614 0.594255 13.2277 0.74854 12.4151 1.1835C11.6024 1.61846 10.9562 2.30973 10.5769 3.14984C10.1976 3.98995 10.1066 4.93183 10.3178 5.82905C8.65492 5.7457 7.02814 5.31357 5.5431 4.56071C4.05805 3.80785 2.74794 2.7511 1.69781 1.45905C1.3261 2.0975 1.13076 2.82328 1.13181 3.56205C1.13181 5.01205 1.86981 6.29305 2.99181 7.04305C2.32782 7.02215 1.67844 6.84283 1.09781 6.52005V6.57205C1.09801 7.53775 1.43218 8.47366 2.04366 9.22111C2.65513 9.96855 3.50629 10.4815 4.45281 10.673C3.83642 10.8401 3.19012 10.8647 2.56281 10.745C2.82968 11.5763 3.34982 12.3032 4.0504 12.8242C4.75099 13.3451 5.59694 13.6338 6.46981 13.65C5.60229 14.3314 4.60899 14.835 3.54669 15.1322C2.48439 15.4294 1.37394 15.5143 0.278809 15.382C2.19051 16.6115 4.4159 17.2642 6.68881 17.262C14.3818 17.262 18.5888 10.889 18.5888 5.36205C18.5888 5.18205 18.5838 5.00005 18.5758 4.82205C19.3947 4.23022 20.1014 3.49707 20.6628 2.65705L20.6618 2.65605Z' fill='%23333333'/%3E%3C/svg%3E");
    }

    &[class*="linkedin"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.43994 2.00002C4.43968 2.53046 4.22871 3.03906 3.85345 3.41394C3.47819 3.78883 2.96937 3.99929 2.43894 3.99902C1.90851 3.99876 1.39991 3.78779 1.02502 3.41253C0.650136 3.03727 0.439676 2.52846 0.439942 1.99802C0.440207 1.46759 0.651175 0.958988 1.02644 0.584103C1.4017 0.209218 1.91051 -0.00124153 2.44094 -0.000976312C2.97137 -0.000711096 3.47998 0.210257 3.85486 0.585517C4.22975 0.960777 4.44021 1.46959 4.43994 2.00002ZM4.49994 5.48002H0.499942V18H4.49994V5.48002ZM10.8199 5.48002H6.83994V18H10.7799V11.43C10.7799 7.77002 15.5499 7.43002 15.5499 11.43V18H19.4999V10.07C19.4999 3.90002 12.4399 4.13002 10.7799 7.16002L10.8199 5.48002Z' fill='%23333333'/%3E%3C/svg%3E");
    }

    &[class*="whatsapp"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.504013 20L1.85601 15.032C0.965151 13.5049 0.497109 11.768 0.500013 10C0.500013 4.477 4.97701 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20C8.73279 20.0029 6.99667 19.5352 5.47001 18.645L0.504013 20ZM6.89101 5.308C6.76188 5.31602 6.63569 5.35003 6.52001 5.408C6.41153 5.46943 6.31251 5.54622 6.22601 5.636C6.10601 5.749 6.03801 5.847 5.96501 5.942C5.59542 6.423 5.39662 7.01342 5.40001 7.62C5.40201 8.11 5.53001 8.587 5.73001 9.033C6.13901 9.935 6.81201 10.89 7.70101 11.775C7.91501 11.988 8.12401 12.202 8.34901 12.401C9.4524 13.3725 10.7673 14.073 12.189 14.447L12.758 14.534C12.943 14.544 13.128 14.53 13.314 14.521C13.6053 14.506 13.8896 14.4271 14.147 14.29C14.313 14.202 14.391 14.158 14.53 14.07C14.53 14.07 14.573 14.042 14.655 13.98C14.79 13.88 14.873 13.809 14.985 13.692C15.068 13.606 15.14 13.505 15.195 13.39C15.273 13.227 15.351 12.916 15.383 12.657C15.407 12.459 15.4 12.351 15.397 12.284C15.393 12.177 15.304 12.066 15.207 12.019L14.625 11.758C14.625 11.758 13.755 11.379 13.224 11.137C13.168 11.1126 13.108 11.0987 13.047 11.096C12.9786 11.089 12.9095 11.0967 12.8443 11.1186C12.7791 11.1405 12.7193 11.1761 12.669 11.223V11.221C12.664 11.221 12.597 11.278 11.874 12.154C11.8325 12.2098 11.7754 12.2519 11.7098 12.2751C11.6443 12.2982 11.5733 12.3013 11.506 12.284C11.4409 12.2666 11.377 12.2445 11.315 12.218C11.191 12.166 11.148 12.146 11.063 12.109L11.058 12.107C10.4859 11.8572 9.95624 11.5198 9.48801 11.107C9.36201 10.997 9.24501 10.877 9.12501 10.761C8.73159 10.3842 8.38873 9.95801 8.10501 9.493L8.04601 9.398C8.00364 9.33416 7.96937 9.2653 7.94401 9.193C7.90601 9.046 8.00501 8.928 8.00501 8.928C8.00501 8.928 8.24801 8.662 8.36101 8.518C8.4551 8.39832 8.54289 8.27382 8.62401 8.145C8.74201 7.955 8.77901 7.76 8.71701 7.609C8.43701 6.925 8.14701 6.244 7.84901 5.568C7.79001 5.434 7.61501 5.338 7.45601 5.319C7.40201 5.313 7.34801 5.307 7.29401 5.303C7.15972 5.29633 7.02515 5.29766 6.89101 5.307V5.308Z' fill='%23333333'/%3E%3C/svg%3E%0A");
    }

    &[class*="email"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 0H19.5C19.7652 0 20.0196 0.105357 20.2071 0.292893C20.3946 0.48043 20.5 0.734784 20.5 1V17C20.5 17.2652 20.3946 17.5196 20.2071 17.7071C20.0196 17.8946 19.7652 18 19.5 18H1.5C1.23478 18 0.98043 17.8946 0.792893 17.7071C0.605357 17.5196 0.5 17.2652 0.5 17V1C0.5 0.734784 0.605357 0.48043 0.792893 0.292893C0.98043 0.105357 1.23478 0 1.5 0ZM10.56 8.683L4.148 3.238L2.853 4.762L10.573 11.317L18.154 4.757L16.846 3.244L10.561 8.683H10.56Z' fill='%23333333'/%3E%3C/svg%3E");
    }

    &[class*="telegram"]
    {
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 4.477 4.977 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20ZM7.39 11.17L7.403 11.163L8.273 14.033C8.385 14.344 8.539 14.4 8.726 14.374C8.914 14.349 9.013 14.248 9.136 14.13L10.324 12.982L12.874 14.87C13.34 15.127 13.675 14.994 13.791 14.438L15.448 6.616C15.631 5.888 15.311 5.596 14.746 5.828L5.013 9.588C4.349 9.854 4.353 10.226 4.893 10.391L7.39 11.171V11.17Z' fill='%23333333'/%3E%3C/svg%3E");
    }
  }
}